<!DOCTYPE html>

<html>

<head>
    <title>Crypto dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
    <style>
        body {
            width: 640px;
            height: 480px;
            margin: 0 auto;
            overflow: hidden;
            /* Disable scrollbars */
            background-image: url('static/background.jpg');
            background-repeat: no-repeat;
            background-size: 640px 480px;
        }

        .small-header {
            color: white;
            font-size: 2em;
        }

        .positive {
            color: rgb(79, 255, 79);
        }

        .negative {
            color: rgb(255, 0, 0);
        }

        .price-text {
            color: white;
            font-size: 1.25em;
        }

        .price-change-text {
            font-size: 0.75em;
        }

        p {
            color: white;
            font-size: 1.5em;
        }
    </style>

</head>

<body style="display: flex; justify-content: center; align-items: center; margin: 0; overflow: hidden;">
    <div style="
    background-color: rgba(22, 25, 42, 1.0);
    padding: 2em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
	height: 90%;
    max-width: 640px;
    max-height: 480px;
    margin: 0 auto;
">
        <div id="content-container"
            style="display: flex; justify-content: center; align-items: center; height: 100vh; width: 100vw;">
            <div
                style="width: 640px; height: 480px; overflow: hidden; position: relative; background-size: 640px 480px;">
                <!-- Create 3 areas, top right, top left, bottom -->
                <div class="container-fluid">
                    <div class="container-fluid">
                        <!-- This is the new wrapping row for centering -->
                        <div class="row justify-content-center">
                            <div class="col-sm-5 mx-sm-1 d-flex justify-content-center flex-column align-items-center"
                                style="margin-top:7%; border-radius: 5px; padding: 5px; background-color: rgba(31, 38, 60, 1.0);">
                                <h1 class="small-header">Bitcoin</h1>
                                <p><span class="price-text">$</span><span class="price-text" id="btc_price"></span>
                                    <span class="price-change-text" id="btc_24hr_change"></span>
                                </p>
                                <canvas id="btc_gas_chart" width="50" height="25"></canvas>
                            </div>

                            <div class="col-sm-5 mx-sm-2 d-flex justify-content-center flex-column align-items-center"
                                style="margin-top: 7%; border-radius: 5px; padding: 5px; background-color: rgba(31, 38, 60, 1.0);">
                                <h1 class="small-header">Ethereum</h1>
                                <p><span class="price-text">$</span><span class="price-text" id="eth_price"></span>
                                    <span class="price-change-text" id="eth_24hr_change"></span>
                                </p>
                                <canvas id="eth_gas_chart" width="50" height="25"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-sm-5 mx-sm-1 d-flex justify-content-center flex-column align-items-center"
                                style="margin-top:2%; border-radius: 5px; padding: 5px; background-color: rgba(31, 38, 60, 1.0);">
                                <h1 class="small-header">BTC.D</h1>
                                <p><span class="price-text" id="btc_dominance"></span><span class="price-text">%</p>
                                <div class="slider-container">
                                    <input type="range" min="0" max="100" value="0" class="slider"
                                        id="btc_dominance_range">
                                    <span class="slider-value" id="btc_dominance_slider_value">0</span>
                                </div>
                            </div>

                            <div class="col-sm-5 mx-sm-2 d-flex justify-content-center flex-column align-items-center"
                                style="margin-top: 2%; border-radius: 5px; padding: 5px; background-color: rgba(31, 38, 60, 1.0);">
                                <h1 class="small-header">Fear &amp; Greed</h1>
                                <p><span class="price-text" id="fear_greed"></span></p>
                                <div class="slider-container">
                                    <input type="range" min="0" max="100" value="0" class="slider"
                                        id="fear_and_greed_range">
                                    <span class="slider-value" id="fear_and_greed_slider_value">0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider_container">

        <!-- define your gradient values here -->
        <svg width="0" height="0">
            <defs>
                <linearGradient id="gradient1">
                    <stop offset="0%" stop-color="#cc0000" />
                    <stop offset="25%" stop-color="#ff6600" />
                    <stop offset="50%" stop-color="orange" />
                    <stop offset="75%" stop-color="#FFFf00" />
                    <stop offset="100%" stop-color="#66cc33" />
                </linearGradient>
            </defs>
        </svg>

        <div id="slider"></div>

        <div class="slider_label">
            <div class="minl">LOW</div>
            <div class="maxl">HIGH</div>
        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        let apiValues_btc = [0, 0, 0, 0, 0, 0];  // Placeholder data
        let apiValues_eth = [0, 0, 0, 0, 0, 0];  // Placeholder data

        function formatNumberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        function updateBitcoinData() {
            $.getJSON('/bitcoin', function (data) {
                $('#btc_price').text(formatNumberWithCommas(data.bitcoin.usd));

                // Initialize the change string with the rounded value and a "%" sign
                let change = data.bitcoin.usd_24h_change.toFixed(2) + "%)";

                // Check the change value and apply appropriate class and sign
                if (data.bitcoin.usd_24h_change > 0) {
                    $('#btc_24hr_change').addClass('positive');
                    change = "+" + change; // prepend the '+' sign for positive change
                } else if (data.bitcoin.usd_24h_change < 0) {
                    $('#btc_24hr_change').addClass('negative');
                }
                change = "(" + change; // prepend the '(' sign

                // Now set the text with the appropriate sign
                $('#btc_24hr_change').text(change);

                setTimeout(updateBitcoinData, 600000); // repeat every 10 minutes
            }).fail(function () {
                setTimeout(updateBitcoinData, 600000); // even on failure, repeat after 10 minutes
            });
        }

        function updateBitcoinGasData() {
            $.getJSON('/bitcoin_gas', function (data) {
                var roundedFee = Math.round(data[0].medianFee);
                $('#btc_gas').text(roundedFee);

                // Update the apiValues_btc array
                apiValues_btc.push(roundedFee);
                if (apiValues_btc.length > 6) {
                    apiValues_btc.shift();  // remove the oldest data point if there are more than 6 points
                }

                // Update the chart
                chart_btc.update();

                setTimeout(updateBitcoinGasData, 600000); // repeat every 10 minutes
            }).fail(function () {
                setTimeout(updateBitcoinGasData, 600000); // even on failure, repeat after 10 minutes
            });
        }
        function updateEthereumData() {
            $.getJSON('/ethereum', function (data) {
                var roundedEthPrice = Math.round(data.ethereum.usd);
                $('#eth_price').text(formatNumberWithCommas(roundedEthPrice));

                // Initialize the change string with the rounded value and a "%" sign
                let change = data.ethereum.usd_24h_change.toFixed(2) + "%)";

                // Check the change value and apply appropriate class and sign
                if (data.ethereum.usd_24h_change > 0) {
                    $('#eth_24hr_change').addClass('positive');
                    change = "+" + change; // prepend the '+' sign for positive change
                } else if (data.ethereum.usd_24h_change < 0) {
                    $('#eth_24hr_change').addClass('negative');
                }
                change = "(" + change; // prepend the '(' sign

                // Now set the text with the appropriate sign
                $('#eth_24hr_change').text(change);

                setTimeout(updateEthereumData, 600000); // repeat every 10 minutes
            }).fail(function () {
                setTimeout(updateEthereumData, 600000); // even on failure, repeat after 10 minutes
            });
        }
        function updateEthereumGasData() {
            $.getJSON('/ethereum_gas', function (data) {
                $('#eth_gas').text(data.result.ProposeGasPrice);

                // Update the apiValues_eth array
                apiValues_eth.push(data.result.ProposeGasPrice);
                if (apiValues_eth.length > 6) {
                    apiValues_eth.shift();  // remove the oldest data point if there are more than 6 points
                }

                // Update the chart
                chart_eth.update();

                setTimeout(updateEthereumGasData, 600000); // repeat every 10 minutes
            }).fail(function () {
                setTimeout(updateEthereumGasData, 600000); // even on failure, repeat after 10 minutes
            });
        }
        function updateBitcoinDominanceData() {
            $.getJSON('/btc_dominance', function (data) {
                // Extracting the value from the latest index data
                $('#btc_dominance').text(data.data[0].value.toFixed(2));
                $('#btc_dominance_slider_value').text(data.data[0].value.toFixed(2));
                $('#btc_dominance_range').val(data.data[0].value.toFixed(2));
                setupSlider("btc_dominance_range", "btc_dominance_slider_value");

                setTimeout(updateBitcoinDominanceData, 18000000); // repeat every three hours
            });
        }
        function updateFearGreedData() {
            $.getJSON('/fear_greed', function (data) {
                // Extracting the value from the latest index data
                $('#fear_greed').text(data.data[0].value);
                $('#fear_and_greed_slider_value').text(data.data[0].value);
                $('#fear_and_greed_range').val(data.data[0].value);
                setupSlider("btc_dominance_range", "fear_and_greed_slider_value");

                let value = parseInt(document.getElementById('fear_greed').innerText);  // Get the current value
                document.getElementById('fear_greed').style.color = getColorForValue(value);  // Set the color based on the value

                setTimeout(updateFearGreedData, 18000000); // repeat every three hours
            }).fail(function () {
                setTimeout(updateFearGreedData, 18000000); // even on failure, repeat after three hours
            });
        }

        $(document).ready(function () {
            updateBitcoinData(); // initial call for Bitcoin price data
            updateBitcoinGasData(); // initial call for Bitcoin gas data
            updateEthereumData(); // initial call for Ethereum price data
            updateEthereumGasData(); // initial call for Ethereum gas data
            updateBitcoinDominanceData(); // initial call for Bitcoin dominance data
            updateFearGreedData(); // initial call for Fear and Greed data
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            function setupSlider(sliderId, valueId) {
                const slider = document.getElementById(sliderId);
                const sliderValue = document.getElementById(valueId);

                function updateSliderValue() {
                    sliderValue.textContent = slider.value;
                    const offset = (slider.value - slider.min) / (slider.max - slider.min) * 100;
                    sliderValue.style.left = `calc(${offset}% - 5px)`;
                }

                slider.addEventListener("input", updateSliderValue);

                // Call the function to set the initial position of the thumb
                updateSliderValue();
            }

            setupSlider("btc_dominance_range", "btc_dominance_slider_value");
            setupSlider("fear_and_greed_range", "fear_and_greed_slider_value");
        });
    </script>

    <script>
        function getColorForValue(value) {
            let red, green, blue = 0;

            // If the value is between 0 and 50
            if (value <= 50) {
                red = 255;
                green = Math.floor(255 * (value / 50));
            }
            // If the value is between 51 and 100
            else {
                green = 255;
                red = 255 - Math.floor(255 * ((value - 50) / 50));
            }

            return 'rgb(' + red + ',' + green + ',' + blue + ')';
        }

        let value = parseInt(document.getElementById('fear_greed').innerText);  // Get the current value
        document.getElementById('fear_greed').style.color = getColorForValue(value);  // Set the color based on the value
    </script>

    <!-- Global script defining the time labels -->
    <script>
        function generateTimeLabels() {
            const now = new Date();
            const labels = [];
            for (let i = 5; i >= 0; i--) {
                const pastTime = new Date(now.getTime() - i * 10 * 60 * 1000);
                labels.push(`${pastTime.getHours().toString().padStart(2, '0')}:${pastTime.getMinutes().toString().padStart(2, '0')}`);
            }
            return labels;
        }
    </script>

    <script>

        const timeLabels = generateTimeLabels();

        const ctx_btc = document.getElementById('btc_gas_chart').getContext('2d');
        const chart_btc = new Chart(ctx_btc, {
            type: 'line',
            data: {
                labels: timeLabels,
                datasets: [{
                    label: 'sat/vB',
                    data: apiValues_btc,
                    backgroundColor: 'rgba(49, 97, 252, 0.25)',
                    borderColor: 'rgba(49, 97, 252, 1)',
                    fill: true,
                    datalabels: {
                        display: true,
                        align: 'top',
                        color: '#fff',
                        formatter: (value) => value
                    }
                }]
            },
            plugins: [ChartDataLabels],
            options: {
                responsive: true,
                plugins: {
                    datalabels: {
                        display: true,
                        align: 'top',
                        color: '#fff',
                        formatter: (value) => value
                    },
                    legend: {
                        labels: {
                            pointStyle: 'line',
                            usePointStyle: true,
                            color: '#FFFFFF'  // Legend text color
                        }
                    }
                },
                scales: {
                    x: {
                        grid: {
                            display: false  // Hide grid lines
                        },
                        ticks: {
                            color: '#FFFFFF'  // X axis label color
                        }
                    },
                    y: {
                        beginAtZero: true,
                        grid: {
                            display: false  // Hide grid lines
                        },
                        ticks: {
                            color: '#FFFFFF'  // Y axis label color
                        }
                    }
                }
            }
        });
    </script>

    <script>

        const timeLabels_eth = generateTimeLabels();

        const ctx_eth = document.getElementById('eth_gas_chart').getContext('2d');
        const chart_eth = new Chart(ctx_eth, {
            type: 'line',
            data: {
                labels: timeLabels_eth,
                datasets: [{
                    label: 'gwei',
                    data: apiValues_eth,
                    backgroundColor: 'rgba(49, 97, 252, 0.25)',
                    borderColor: 'rgba(49, 97, 252, 1)',
                    fill: true,
                    datalabels: {
                        display: true,
                        align: 'top',
                        color: '#fff',
                        formatter: (value) => value
                    }
                }]
            },
            plugins: [ChartDataLabels],
            options: {
                responsive: true,
                plugins: {
                    datalabels: {
                        display: true,
                        align: 'top',
                        color: '#fff',
                        formatter: (value) => value
                    },
                    legend: {
                        labels: {
                            pointStyle: 'line',
                            usePointStyle: true,
                            color: '#FFFFFF'  // Legend text color
                        }
                    }
                },
                scales: {
                    x: {
                        grid: {
                            display: false  // Hide grid lines
                        },
                        ticks: {
                            color: '#FFFFFF'  // X axis label color
                        }
                    },
                    y: {
                        beginAtZero: true,
                        grid: {
                            display: false  // Hide grid lines
                        },
                        ticks: {
                            color: '#FFFFFF'  // Y axis label color
                        }
                    }
                }
            }
        });
    </script>

</body>

</html>